{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карта</title>
    <style>
        body, html {
            margin: 10px;
            padding: 0;
            height: 100%;
            font-family: 'Arial', sans-serif;
            background-color: #f6f6f4;
        }

        .card {
            background-color: {{ background_color }}; /* Зелёный фон, который вы получите в Base64 */
            padding: 20px;
            box-sizing: border-box;
            border-radius: 10px;
        }

        .card-header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

        .card-header img {
            width: 100px; /* Примерный размер иконки */
            height: auto;
            margin: 5% 0% 5% 0%;
        }

        .barcode {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            background-color: #fff;
            padding: 10px;
            border-radius: 10px;
        }

        .barcode img {
            max-width: 100%;
            height: auto;
        }

        .title {
            display: flex;
            justify-content: center;
            font-size: 0.9em;
            flex-direction: column;
            align-items: center;
        }

        .menu {
            background: white;
            border-radius: 5px;
            margin-bottom: 10px;
            margin-top: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }

        .menu-item {
            padding: 15px 20px;
            border-bottom: 1px solid #eee;
        }

        .menu-item:last-child {
            border-bottom: none;
        }

        .menu-item > a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            display: block;
        }

        .menu-item > a:after {
            content: '>';
            float: right;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px 10px 0px;
            background: #f7f7f7;
            color: #333;
            font-family: Arial, sans-serif;
        }

        .header .back-button, .header .menu-button {
            background: none;
            border: none;
            padding: 0;
        }

        .header .back-button::before, .header .menu-button::after {
            content: '<';
            float: right;
            display: inline-block;
        }

        .header .back-button::before {
            margin-right: 10px;
            padding: 3px;
              text-decoration: none;
            color: black;
            font-size: 18px;
        }

        .header .menu-button::after {
            content: '...';
            font-size: 24px;
            line-height: 12px;
        }

        .header .title {
            flex-grow: 1;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }

        /* Пример адаптивного дизайна */
        @media (max-width: 600px) {
            .card {
                padding: 10px;
            }

            .card-header img {
                width: 80px;
            }
        }
        /* Стили для всплывающего меню */
        .popup-menu {
            position: absolute;
            right: 10px; /* Или где вы хотите разместить меню */
            top: 40px; /* Расстояние от кнопки меню */
            background: white;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            z-index: 100; /* Чтобы меню было над другими элементами */
        }

        .popup-menu .menu-item {
            padding: 15px 20px;
            border-bottom: 1px solid #eee;
        }

        .popup-menu .menu-item:last-child {
            border-bottom: none;
        }

        .popup-menu .menu-item > a {
            text-decoration: none;
            color: black;
            font-size: 3vw;
            display: flex;
            justify-content: space-between;  
        }
    </style>
</head>
<body>
    <div class="header">
      <button class="back-button" aria-label="Назад"></button>
      <div class="title">{{title}}</div>
      <button class="menu-button" aria-label="Меню"></button>
    </div>

    <!-- Всплывающее меню -->
    <div class="popup-menu" id="popupMenu" style="display: none;">
        <div class="menu-item" type-button="type-scan"><a type-button="type-scan" href="#">Режим сканирования</a></div>
        <div class="menu-item" type-button="about-scaners"><a type-button="about-scaners" href="#">О сканерах</a></div>
        <div class="menu-item" type-button="share-card"><a type-button="share-card" href="#">Поделиться картой</a></div>
        <div class="menu-item" type-button="change-card"><a type-button="change-card" href="#">Редактировать карту</a></div>
        <div class="menu-item" type-button="delete-card"><a type-button="delete-card" href="#">Удалить карту</a></div>
    </div>

    <div class="card">
        <div class="card-header">
            <!-- Вставьте здесь Base64 иконку -->
            <img src="data:image/png;base64,{{ icon }}" alt="Логотип">
        </div>
        <div class="barcode">
            <!-- Предполагается, что баркод также вставляется динамически -->
            <img src='http://bwipjs-api.metafloor.com/?bcid={{barcode_format}}&text={{card}}&includetext' class="barcode"/>
        </div>
    </div>
    <div class="menu">
        <div class="menu-item">
            <a href="#">ЗАМЕТКИ</a>
        </div>
        <div class="menu-item">
            <a href="#">ИЗОБРАЖЕНИЯ</a>
        </div>
    </div>
    <script>
        document.querySelector(".back-button").addEventListener("click", function(event) {
            window.location.href = `/user`;
        });
        // Обработчик клика для кнопки меню
        document.querySelector(".menu-button").addEventListener("click", function(event) {
            var menu = document.getElementById("popupMenu");
            menu.style.display = (menu.style.display == 'block') ? 'none' : 'block';
        });

        // Закрыть меню, если клик произошел вне его
        window.onclick = function(event) {
            if (!event.target.matches('.menu-button')) {
                var dropdowns = document.getElementsByClassName("popup-menu");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display === "block") {
                        openDropdown.style.display = "none";
                    }
                }
            }
        };
        function deleteCard(cardId){
            fetch("/user/delete-card/", {
                method: "POST",
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}',
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "cardId": cardId,
                })
            })
            .then(response => response.json())
            .then(data => {
                window.location.href = `/user`; 
            });
        }
        //Обработчик событий карты 
        document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector('.popup-menu').addEventListener('click', function(event) {
            const typeButton = event.target.getAttribute('type-button');
            console.log("Кнопка нажата", typeButton);
            if (typeButton == "delete-card"){
                var url = new URL(window.location.href);
                var searchParams = new URLSearchParams(url.search);
                var cardId = searchParams.get('card_id');
                deleteCard(cardId);
            }
        });
    });
    </script>
</body>
</html>
