{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .login-container {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        .login-container h2 {
            text-align: center;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .login-button {
            width: 100%;
            padding: 10px;
            background-color: #5cb85c;
            border: none;
            border-radius: 4px;
            color: white;
            cursor: pointer;
            margin-bottom: 5px;
        }

        .login-button:hover {
            background-color: #4cae4c;
        }
        @media (max-width: 600px) {
            .login-container {
                margin: 20px;
                width: auto;
            }
        }
    </style>
</head>
<body>

<div id="loginSection" class="login-container">
    <h2>Sign in</h2>
    <form id="loginForm">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="login-button">Login</button>
    </form>
    <div id="message"></div>
    <button type="button" id="showSignUp" class="login-button">Sign Up</button>
</div>

<!-- Модальное окно для регистрации -->
<div id="signupSection" style="display:none;">
    <h2>Sign Up</h2>
    <form id="signupForm">
        <div class="form-group">
            <label for="newUsername">Username:</label>
            <input type="text" id="newUsername" name="username" required>
        </div>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="newPassword">Password:</label>
            <input type="password" id="newPassword" name="password" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" required>
        </div>
        <button type="submit" class="login-button">Register</button>
        <button type="button" id="showLogin" class="login-button">Sign In</button>
    </form>
</div>

<script>
    document.getElementById('showSignUp').addEventListener('click', function() {
        document.getElementById('loginSection').style.display = 'none';
        document.getElementById('signupSection').style.display = 'block';
    });

    document.getElementById('showLogin').addEventListener('click', function() {
        document.getElementById('signupSection').style.display = 'none';
        document.getElementById('loginSection').style.display = 'block';
    });
    document.getElementById('signupForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const username = document.getElementById('newUsername').value;
        const firstName = document.getElementById('firstName').value;
        const lastName = document.getElementById('lastName').value;
        const email = document.getElementById('email').value;
        const newPassword = document.getElementById('newPassword').value;
        const phone = document.getElementById('phone').value;
        fetch('/login/sign-up/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                "X-CSRFToken": '{{ csrf_token }}',
            },
            body: JSON.stringify({ username: username, firstName: firstName,
                lastName: lastName, email: email, password: newPassword,
                phone: phone}),
            credentials: 'include' 
        })
        .then(response => response.json())
        .then(data => {
            if(data.result) {
            window.location.href = "../user";
        }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        fetch('/login/sign-in/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                "X-CSRFToken": '{{ csrf_token }}',
            },
            body: JSON.stringify({ username: username, password: password })
        })
        .then(response => response.json())
        .then(data => {
            if (data.result){
                window.location.href = "../user";
            }
            else{
                alert(data.message);
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });
</script>

</body>
</html>
