{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link type="text/css" href="{% static 'profile/css/style.css' %}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Мои карты</title>
<style>
  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px 10px 0px;
      background: #f7f7f7;
      color: #333;
      font-family: Arial, sans-serif;
  }

  .header .back-button, .header .menu-button {
      background: none;
      border: none;
      padding: 0;
  }

  .header .back-button::before {
      content: '<';
      float: right;
      display: inline-block;
  }

  .header .back-button::before {
      margin-right: 10px;
      padding: 3px;
        text-decoration: none;
      color: black;
      font-size: 18px;
  }


  .header .title {
      flex-grow: 1;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
  }
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f4;
    margin: 10px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
  }

  .navbar h1 {
    margin: 0;
    font-size: 24px;
  }

  .search-bar {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
  }

  .search-bar input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Adjust the plus icon size if necessary */
  .button::before {
    content: '+';
    font-size: 24px;
    line-height: 1;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .card img {
    max-width: 100%;
    border-radius: 8px;
  }

  .all-cards-container {
  list-style: none;
  padding: 0;
}

.all-cards-container li {
  display: flex;
  align-items: center;
}

.all-cards-container img {
  width: 50px; /* Желаемая ширина иконок */
  height: 50px; /* Желаемая высота иконок */
  object-fit: contain; /* Это свойство гарантирует, что изображения будут масштабироваться правильно, сохраняя свои пропорции */
  margin-right: 10px;
}

.all-cards-container .items {
  display: flex;
  margin: 10px;
  background-color: white;
}

.spinner {
    border: 5px solid #f3f3f3; /* Светлая часть круга */
    border-top: 5px solid #3498db; /* Цветная часть круга */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: fixed; /* Фиксированное позиционирование */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    margin-top: -25px; /* Смещение для точного центрирования */
    margin-left: -25px; /* Смещение для точного центрирования */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.profile-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }
  .profile-container span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .profile-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* So that width includes padding */
  }
  .container-birth-sex {
    display: flex;
    justify-content: space-between;
  }
  .container-birth-sex div {
    width: 48%;
  }
  .profile-container button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0px 0px 30px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  .profile-container button:hover {
    background-color: #45a049;
  }


</style>
  <script src="https://cdn.jsdelivr.net/npm/jsqr@1.3.1/dist/jsQR.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
</head>
<body>

<footer class="footer">
  <div class="btn btn-main">Главная</div>
  <div id="my-card-button" class="btn btn-club">Мои карты</div> 
  <div class="btn btn-list">Публичные карты</div> 
  <div id="profile" class="btn btn-profile">Профиль</div>
</footer>

<div id="loadingSpinner" class="spinner" style="display: none;"></div>

<div class="profile-container" style="display: none;">
  <span>Логин</span>
  <input value="{{username}}">
  <span>Имя</span>
  <input value="{{first_name}}">
  <span>Фамилия</span>
  <input value="{{last_name}}">
  <div class="container-birth-sex">
    <div>
      <span>Дата рождения</span>
      <input value="{{birth}}">
    </div>
    <div>
      <span>Пол</span>
      <input value="{{sex}}">
    </div>
  </div>
  <span>Телефон и эл.почта</span>
  <span>Телефон</span>
  <input value="{{phone}}">
  <span>Электронная почта</span>
  <input value="{{email}}">
  <button>Сохранить изменения</button>
  <button id="log-out" style="background-color: #b8000c;">Выйти</button>
</div>

<div class="contener-my-cards">
  <div class="navbar">
    <h1>Мои карты</h1>
    <button class="button" id="add-card"></button>
  </div>
  
  <div class="search-bar">
    <input class="search-my-card-input" type="search" placeholder="Поиск">
  </div>
  
  <div class="card-container">
    <!-- My cards -->
  </div>
</div>

<div class="contener-add-card" style="display: none;">
  <div class="header">
    <button id="back-my-cards" class="back-button" aria-label="Назад"></button>
    <div class="title">Добавить карту</div>
    <button class="menu-button" aria-label="Меню"></button>
  </div>
  <div class="search-bar">
    <input class="search-all-card-input" type="search" placeholder="ПОИСК КАРТЫ">
  </div>
  <ui class="all-cards-container">
    <!-- all cards -->
  </ui>
</div>

<video id="videoElement" style="display: none; object-fit: cover; width: 100%; height: 100%;" autoplay></video>

<script>

  function showContenerProfile() {
      document.querySelector('.profile-container').style.display = 'block';
  }

  function hideContenerProfile() {
    document.querySelector('.profile-container').style.display = 'none';
  }

  function showLoadingSpinner() {
      document.getElementById('loadingSpinner').style.display = 'block';
  }

  function hideLoadingSpinner() {
      document.getElementById('loadingSpinner').style.display = 'none';
  }

  function showMainMenu() {
      document.querySelector('.contener-my-cards').style.display = 'block';
  }

  function hideMainMenu() {
      document.querySelector('.contener-my-cards').style.display = 'none';
  }

  function showAddCardMenu() {
      document.querySelector('.contener-add-card').style.display = 'block';
  }

  function hideAddCardMenu() {
      document.querySelector('.contener-add-card').style.display = 'none';
  }

  //Выйти из аккаунта
  document.getElementById("log-out").addEventListener('click', function() {
    fetch("/user/logout/", {
      method: "POST",
      headers: {
              'Content-Type': 'application/json',
              "X-CSRFToken": '{{ csrf_token }}',
      },
    })
    .then(response => response.json())
    .then(data => {
      window.location.href = `/login`;
    })
  });

  //Кнопка профиль
  document.getElementById("profile").addEventListener('click', function() {
    hideMainMenu();
    showContenerProfile();
  });

  //Кнопка Мои карты
  document.getElementById("my-card-button").addEventListener('click', function() {
    hideContenerProfile();
    showMainMenu();
  });

  // поиск всех карт
  document.querySelector('.search-all-card-input').addEventListener('input', function(e) {
  const searchTerm = e.target.value.toLowerCase();
  const cards = document.querySelectorAll('.all-cards-container .items');
  
  cards.forEach(card => {
    const name = card.textContent.toLowerCase();
    if (name.includes(searchTerm)) {
      card.style.display = 'flex';
    } else {
      card.style.display = 'none';
    }
  });
  });

  // поиск моих карт
  document.querySelector('.search-my-card-input').addEventListener('input', function(e) {
  const searchTerm = e.target.value.toLowerCase();
  const cards = document.querySelectorAll('.card-container .card');
  cards.forEach(card => {
    const name = card.textContent.toLowerCase();
    if (name.includes(searchTerm)) {
      card.style.display = 'flex';
    } else {
      card.style.display = 'none';
    }
  });
  });

  //Возвращается в мои карты
  document.getElementById("back-my-cards").addEventListener('click', function() {
    const allCardsContener = document.querySelector('.contener-add-card');
    allCardsContener.style.display = "none";
    const myCardsContener = document.querySelector('.contener-my-cards');
    myCardsContener.style.display = "block";
  });

  //Добавляет все карты
  document.getElementById('add-card').addEventListener('click', function() {
    hideMainMenu();
    showLoadingSpinner();
    fetch('/shops/get/all', {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json',
              "X-CSRFToken": '{{ csrf_token }}',
          },
        })
    .then(response => response.json())
    .then(data => {
      const allCardsContener = document.querySelector('.contener-add-card');
      allCardsContener.style.display = "block";
      const cards = data; // assuming the JSON has a "cards" array
      const container = document.querySelector('.all-cards-container');

      cards.forEach(card => {
        const cardInfo = JSON.parse(card.info);
        const cardElement = document.createElement('div');
        cardElement.className = 'items';
        cardElement.setAttribute('data-card-id', card.resource_id);
        cardElement.innerHTML = `
          <li data-card-id="${card.resource_id}">
            <img src="data:image/png;base64,${card.logo}" alt="${cardInfo.name}" data-card-id="${card.resource_id}"/>
            <span data-card-id="${card.resource_id}">${cardInfo.name}</span>
          </li>
        `;
        container.appendChild(cardElement);
      });
    })
    .catch(error => {
      console.error('Error:', error);
    })
    .finally(() => {
    hideLoadingSpinner();
    });
  });

  // Добавлякт мои карты
  fetch('/user/cards', {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json',
              "X-CSRFToken": '{{ csrf_token }}',
          },
        })
        .then(response => response.json())
        .then(data => {
          const cardData = data;
          const container = document.querySelector('.card-container');
          cardData.forEach(card => {
            const cardInfo = JSON.parse(card.info);
            // Предполагается, что icon - это строка в формате base64, представляющая изображение
            const img = new Image();
            img.src = 'data:image/png;base64,' + card.logo;
            img.onload = function() {
              const canvas = document.createElement('canvas');
              const ctx = canvas.getContext('2d');
              canvas.width = img.width;
              canvas.height = img.height;

              // Отрисовка изображения на канвасе
              ctx.drawImage(img, 0, 0);

              // Получение данных пикселя
              const pixelData = ctx.getImageData(img.width - 1, img.height - 1, 1, 1).data;

              // Форматирование цвета в HEX
              const bottomRightPixelHex = "#" + toHex(pixelData[0]) + toHex(pixelData[1]) + toHex(pixelData[2]);

              // Функция преобразования в HEX
              function toHex(c) {
                  const hex = c.toString(16);
                  return hex.length == 1 ? "0" + hex : hex;
              }
              const cardElement = document.createElement('div');
              cardElement.className = 'card';
              cardElement.style.backgroundColor = bottomRightPixelHex;
              cardElement.innerHTML = `
                <div class="card-content" style="background-color:${bottomRightPixelHex}">
                  <img class="image-button-my-card" src="data:image/png;base64,${card.logo}" alt="${cardInfo.name}" data-card-id="${card.resource_id}">
                  <span style="display: none;">${cardInfo.name}</span>
                </div>
              `;
              container.appendChild(cardElement);
            };
          });
        })
        .catch((error) => {
            console.error('Error:', error);
  });

  //Открывает карту по нажатию
  document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelector('.card-container').addEventListener('click', function(event) {
    // Проверяем, что клик был сделан на элементе <img>
    if (event.target.tagName === 'IMG') {
      // Выполнить действия для изображения
      const cardId = event.target.getAttribute('data-card-id');
      console.log('Кнопка с ID карты ' + cardId + ' нажата!');
      window.location.href = `/user/card?card_id=${cardId}`;
    }
  });
});

function add_card_to_server(shopId, code){
    fetch('/user/card-add/', {
      method: 'POST',
      headers: {
        "X-CSRFToken": '{{ csrf_token }}',
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
            "shopId": shopId,
            "code": code
      })
  })
  .then(response => {
      return response.json(); // Получение ответа в виде текста, т.к. ожидается HTML
  })
  .then(data => {
      window.location.href = `/user/card?card_id=${data.card_id}`; 
  })
  .catch(error => {
      console.error('There was a problem with the fetch operation:', error);
  });
}

document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelector('.all-cards-container').addEventListener('click', function(event) {
        console.log('Кнопка с ID карты нажата!');
        const cardId = event.target.getAttribute('data-card-id');
        // alert(`Карта добавленна id:${cardId}`)

        navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } })
        .then(function(stream) {
            var video = document.querySelector('video');
            hideAddCardMenu();
            showLoadingSpinner();
            if ('srcObject' in video) {
                video.srcObject = stream;
            } else {
                video.src = window.URL.createObjectURL(stream);
            }
            video.play();
            Quagga.init({
                inputStream: {
                    name: "Live",
                    type: "LiveStream",
                    target: video  // Передача элемента видео Quagga
                },
                decoder: {
                    readers: ["code_128_reader", "ean_reader", "ean_8_reader", "code_39_reader", "code_39_vin_reader", "codabar_reader", "upc_reader", "upc_e_reader", "i2of5_reader"], // Типы штрих-кодов для распознавания
                }
            }, function(err) {
                if (err) {
                    console.log(err);
                    return;
                }
                console.log("Initialization finished. Ready to start");
                Quagga.start();
                video.style.display = "block";
                hideLoadingSpinner();
                // Определение обработчика, вызываемого при декодировании штрих-кода
                Quagga.onDetected(function(result) {
                    var code = result.codeResult.code;
                    console.log('Штрих-код распознан: ' + code);
                    Quagga.stop();  // Остановка Quagga после распознавания
                    if (video) {
                      video.srcObject = null;
                    }
                    video.style.display = "none";
                    add_card_to_server(cardId, code);
                });
            });
        });
    });
});



</script>

</body>
</html>
