{% load static %}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    height: 58px;
    top: 100vh;
    margin-top: -58px;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.05) 0px -5px 30px;
    width: 100%;
    margin-left: -2%;
}

.footer > .btn {
    color: #fafafa;
    padding-top: 24px;
    font-size: 10px;
    font-weight: 500;
    color: #bcbcbc;
}


.footer > .btn-main {
    background-image: url(../images/main.svg);
    background-repeat: no-repeat;
    background-position: center top;
}

.footer > .btn-catalog {
    background-image: url(../images/catalog_menu.svg);
    background-repeat: no-repeat;
    background-position: center top;
}

.footer > .btn-club {
    background-image: url(../images/card.svg);
    background-repeat: no-repeat;
    background-position: center top;   
}

.footer > .btn-list {
    background-image: url(../images/list.svg);
    background-repeat: no-repeat;
    background-position: center top;
}

.footer > .btn-profile {
    background-image: url(../images/profile.svg);
    background-repeat: no-repeat;
    background-position: center top;
}


